<html>
	<style type="text/css">
		.tg  {border-collapse:collapse;border-spacing:0;}
		.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
			overflow:hidden;padding:10px 9px;word-break:normal;}
		.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
			font-weight:normal;overflow:hidden;padding:10px 9px;word-break:normal;}
		.tg .tg-9nrz{background-color:#9b9b9b;border-color:inherit;color:#ffffff;font-weight:bold;text-align:left;vertical-align:top}
		.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
	</style>
	<table class="tg">
	<thead>
		<tr>
			<th class="tg-9nrz">Дата</th>
			<th class="tg-9nrz">Задача</th>
			<th class="tg-9nrz">Ссылка на Git</th>
			<th class="tg-9nrz">Потраченное время</th>
		</tr>
	</thead>
	<tbody>
		{{ range $i, $r := . }}
		<tr id="{{ $i }}">
			<td class="tg-0lax">{{ $r.Date }}</td>
			<td class="tg-0lax">{{ $r.Task }}</td>
			<td class="tg-0lax">
					<a href="{{ $r.Link }}" target='blank'>{{ $r.Link }}</a>
			</td>
			<td class="tg-0lax" id="time-row">
				<script>
					var time = Math.round({{ $r.TimeSpent }} * 10) / 10
					document.querySelectorAll('#time-row')[{{$i}}].innerHTML = time + "ч"
				</script>
			</td>
		</tr>
		{{ end }}
	</tbody>
	</table>
</html>
